#divToPDF {
  width: 750px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}


.App {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.print-button {
  color: white;
  background-color: lightgreen;
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.shift-button {
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
  background-color: blue;
  margin-right: 10px;
}

.pdf-container {
  border: 1px solid lightgray;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.goal-entry {
  margin-bottom: 1em;
}

.goal {
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 10px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day {
  width: 14.2%;
  padding: 5px;
  height: 120px;
  border: 1px solid lightgray;
  text-align: center;
}

.date {
  font-size: .8em;
}

.counter {
  margin-top: 1em;
  color: #333;
}
